<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/connexion.css">
        <title>BeHide</title>
    </head>
    <body ng-controller="Menu">
        <div class="form">
            <img src="css/icones/logo.png" class="logo">
            <div class="case-email">
                <input type="email" class="input-email" placeholder="Adresse mail">
            </div>
            <div class="case-password">
                <input type="password" class="input-password" placeholder="Mot de passe">
            </div>
            <div class="btn-position-connexion">
                <a href="main.html"><input type="button" class="btn-connexion" value="Connexion"></a>
            </div>
            <div class="btn-position-inscription">
                <input type="button" class="btn-inscription" value="Inscription" ng-click="deployinscription=0">
            </div>
        </div>

        <section id="inscription" class="section-inscription begin" ng-class="{down:deployinscription==1, base:deployinscription==0}">
            <div class="large-title">
                <strong>BeHide</strong>
            </div>
            <div>
                <p class="tiny-title">Inscription :</p>
                <div class="case-nickname">
                    <p class="nickname">Nom :</p>
                    <input type="text" class="input-nickname" placeholder="Écrivez ici">
                </div>
                <div class="case-nickname firstname">
                    <p class="nickname">Prénom :</p>
                    <input type="text" class="input-nickname" placeholder="Écrivez ici">
                </div>
                <div class="case-nickname email">
                    <p class="nickname">Adresse mail :</p>
                    <input type="text" class="input-nickname" placeholder="Écrivez ici">
                </div>
            </div>
            <div class="menubutton">
                <div class="menu-choix retour retour-profil" ng-click="deployinscription=1">
                    <strong>Annuler</strong>
                </div>
            </div>
        </section>

        <script src="js/jquery.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/connexion.js"></script>
    </body>
</html>