<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/conversations.css">
        <link rel="stylesheet" href="css/appels.css">
        <link rel="stylesheet" href="css/contacs.css">
        <title>BeHide</title>
    </head>
    <body ng-controller="Menu">
        <header class="header" ng-class="{cache:deploy==0}">
            <p class="copyright" ng-hide="panel==0">&copy;BeHide</p>
            <div class="off" ng-class="{off:panel==0, on:panel==1}">
                <div class="font-pp" ng-click="panel=0">
                    <!-- Photo de profil -->
                    <img class="pp" src="../img/default-profile.png"> <!-- Comme lien, mettre une image par défaut qui devra être dans l'hébergeur -->
                </div>
                <div class="bienvenue">
                    <!-- Mot gentil + prénom de l'utilisateur -->
                    <p class="message">Bonsoir Paul</p> <!-- Le prénom de la personne est à récupérer dans la bdd -->
                </div>
            </div>
            <div id="menu" class="font-menu begin" ng-class="{on:panel==1, off:panel==0}">
                <div class="img_added">
                    <div class="degrade">
                        <img class="add_pic" src="css/icones/addwhite.png"> <!-- Comme lien, mettre une image par défaut qui devra être dans l'hébergeur -->
                    </div>
                </div>
                <div class="cancel" ng-click="panel=1">
                    <img alt="cancel" src="../css/icones/cancelwhite.png" width="20px">
                </div>
                <div>
                    <input class="statut" type="text" placeholder="     Statut"> <!-- Le prénom de la personne est à récupérer dans la bdd -->
                    <a href="#"  ng-click="panel=1">
                        <div class="menu-choix profil" ng-click="deployprofil=0">
                            <strong>PROFIL</strong>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu-choix support">
                            <strong>SUPPORT</strong>
                        </div>
                    </a>
                    <a href="#">
                        <div class="menu-choix apropos">
                            <strong>À PROPOS</strong>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        
        <section class="view" ng-class="{scrollingon:panel==0, scrollingoff:panel==1}" ng-view></section>

        <nav ng-controller="NavCtrl">
            <a href="#conversations" class="nav-rond-left" ng-click="menu='conversations'" ng-class="{active: menu=='conversations'}"></a>
            <a href="#appels" class="nav-rond-center" ng-click="menu='appels'" ng-class="{active: menu=='appels'}"></a>
            <a href="#contacts" class="nav-rond-right" ng-click="menu='contacts'" ng-class="{active: menu=='contacts'}"></a>
        </nav>

        <footer>
            <!-- Profil -->
            <section class="section-profil" ng-class="{down:deployprofil==1, base:deployprofil==0}">
                <div class="large-title">
                    <strong>BeHide</strong>
                </div>
                <div class="menubutton">
                    <div class="menu-choix trousseau" ng-click="deployprofil=1">
                        <strong>Changer le trousseau de clés</strong>
                    </div>
                    <div class="menu-choix deconnecter" ng-click="deployprofil=1">
                        <strong>Se déconnecter</strong>
                    </div>
                    <div class="menu-choix supprimer" ng-click="deployprofil=1">
                        <strong>Supprimer mon compte</strong>
                    </div>
                    <div class="menu-choix retour" ng-click="deployprofil=1">
                        <strong>Retour</strong>
                    </div>
                </div>
            </section>
            <!-- Support -->
            <section>
                
            </section>
            <!-- À propos -->
            <section>
                
            </section>
        </footer>

        <script src="../js/jquery.js"></script>
        <script src="../js/angular.js"></script>
        <script src="../js/NavCtrl.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/Menu.js"></script>
    </body>
</html>