.lst_contact{
    position: absolute;
    left: 5px; right: 5px; top: 40px;
    height: 90%;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    overflow: scroll;
}

.all_contact_flex{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.all_contact_flex img{
    flex: 1 1 auto;
    width: 100px;
    padding: 0;
    margin: 0;
}

.Ajouter_contact{
    position: absolute;
    width: 40%;
    height: 35px;
    right: 6%;
    top: 100px;

    background: #68D1FE;
    border-radius: 10px;
    z-index: 1;
    transition: .5s;
}

.Ajouter_contact p{
    margin: 5px;
    text-align: center;
    color: white;
}

.menu-ajout{
    position: absolute;
    width: 90%;
    height: 335px;
    left: 0; right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;

    background: #00ABB6;
    border-radius: 18px;

    font-weight: 700;
    font-size: 22px;
    color: white;

    text-align: center;

    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.section-ajout{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 10;
    overflow: scroll;
}

.ajout_move{
    transform: translate3d(0, -300%, 0);
}

.menu-ajout p {
    margin: 0;
    margin-top: 10px;
}

.code{
    background-color: white;
    width: 180px;
    border-radius: 15px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
}

.code p {
    margin-top: 0;
    color: black;
}

.Ajout-de-contact{
    margin-top: 15px;
}

.Ajout-de-contact p{
    margin-top: 0;
}

.codev2{
    background-color: white;
    width: 180px;
    border-radius: 15px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
}

.zone-ajout{
    border: 0px;
    width: 140px;
    height: 20px;
    font-size: 21px;
    font-weight: 700;
    font: "Poppins", sans-serif;
    text-align: center;
}

.Valider-button{
    background-color: #68D1FE;
    width: 130px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 25px;
}

.Valider-button p{
    font-weight: 600;
    font-size: 20px;
}

.Retour-button{
    background-color: #FF2C2C;
    width: 130px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.Retour-button p{
    font-weight: 600;
    font-size: 20px;
    margin-top: 13px;
}

.page-contact{
    height: 100%;
    width: 100%;
    background-color: #00ABB6;
    top: 0;
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0; left: 0;
    overflow: scroll;
}

.hide-contact{
    display: none;
}

.apparition-contact{
    animation-duration: .2s;
    animation-name: scaling;
}

.disparition-contact{
    animation-duration: .2s;
    animation-name: scalinginverse;
}

.photo-contact{
    width: 125px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; right: 0;
    margin: auto;
    border-radius: 50%;
}

.style-photo-contact{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; left: 0;
    border-radius: 50%;
    background-color: white;
}

.case-image{
    top: 10px;
    left: 10px;
    width: 140px; height: 140px;
    position: absolute;
}

.nom-contact{
    position: absolute;
    font-size: 30px;
    left: 170px;
    top: 30px;
    font-weight: 700;
}

.pos-statut{
    position: absolute;
    left: 0; right: 0;
    top: 0px;
    width: 90%;
}

.petit-message{
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0; right: 0;
    width: 90%;
    top: 150px;
}

.noscroll{
    overflow: hidden;
}

.Bouton-message{
    top: 240px;

    height: 55px;
    width: 90%;
    position: absolute;
    margin:auto;
    left: 0; right: 0;
    background-color: #68D1FE;
    border-radius: 20px;
}

.Bouton-message p{
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.image-message-contact{
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.Bouton-appel{
    top: 320px;

    height: 55px;
    width: 90%;
    position: absolute;
    margin:auto;
    left: 0; right: 0;
    background-color: #68D1FE;
    border-radius: 20px;
}

.Bouton-appel p{
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.image-appel-contact{
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.box-retour{
    position: relative;
    margin-top: 500px;
    width: 100%;
    height: 45px;
}
.Bouton-retour-contact{
    position: absolute;
    left: 0;
    right: 0;
    height: 45px;
    width: 90%;
    bottom: 30px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #FF2C2C;
    border-radius: 20px;
}

.Bouton-retour-contact p{
    margin: 8px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
}

@keyframes scaling{
    from{
        width: 1%;
        height: 1%;
    }

    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes scalinginverse{
    from{
        width: 100%;
        height: 100%;
    }

    to {
        width: 1%;
        height: 1%;
    }
}