body {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00ABB6;
    width: 100vw;
    height: 100vh;
    margin: 0;
    height: 500px;
}

.mise-en-page{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 405px;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
}

.case-other-input{
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
    top: 70px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    width: 280px;
    border-radius: 25px;
}

.logo {
    display: block;
    margin: auto;
    height: 150px;
}

.case-email {
    background-color: white;
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}

.input-email {
    border: none;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.case-password {
    background-color: white;
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.input-password {
    border: none;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.form {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.btn-position-connexion {
    position: relative;
    margin-top: 20px;
}

.btn-connexion {
    position: absolute;
    right: 0; left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    background: #68D1FE;
    color: white;
    font-weight: bold;
}

.btn-position-inscription {
    position: relative;
    margin-top: 90px;
}

.btn-inscription {
    position: absolute;
    right: 0; left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    background: rgb(220, 68, 100);
    color: white;
    font-weight: bold;
}

.section-inscription {
    background-color: #E2FDFF;
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.large-title {
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
}

.left-input::-webkit-input-placeholder {
    text-align: left;
}

.name-input {
    left: 70px;
    width: 72%;
    text-align: left;
}

.firstname {
    margin-top: 55px;
}

.firstname-input {
    left: 90px;
    width: 65%;
}

.ajust {
    top: 12.5px;
}

.email {
    margin-top: 110px;
    height: 80px;
}

.email-input {
    left: 0; right: 0;
    width: 90%;
    margin: auto;
    text-align: center;
}

.password {
    margin-top: 165px;
    height: 80px;
    top: 100px;
}

.password-input {
    left: 0; right: 0;
    width: 90%;
    margin: auto;
    text-align: center;
}

.password2 {
    margin-top: 220px;
    height: 80px;
    top: 130px;
}

.password2-input {
    left: 0; right: 0;
    width: 90%;
    margin: auto;
    text-align: center;
}

.confirm-inscription {
    position: absolute;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #FF2C2C;
    margin-top: 23px;
}

.retour-inscription {
    margin-top: 70px;
    position: absolute;
}

.min-height {
    z-index: -1;
}

.menubutton-connexion {
    position: relative;
    bottom: 15px;
    height: 132px;
    width: 100%;
    margin-top: 35%;
}

.formulaire-inscription{
    position: relative;
    height: 435px;

}

.title-inscription{
    position: absolute;
    padding-left: 10px;
    font-size: 20px;
}

