body {
    background-color: #00ABB6;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 35%;
    height: 150px;
}

.case-email {
    background-color: white;
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}

.input-email {
    border: none;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.case-password {
    background-color: white;
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.input-password {
    border: none;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.form {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.btn-position-connexion {
    position: relative;
    margin-top: 20px;
}

.btn-connexion {
    position: absolute;
    right: 0; left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    background: #68D1FE;
    color: white;
    font-weight: bold;
}

.btn-position-inscription {
    position: relative;
    margin-top: 90px;
}

.btn-inscription {
    position: absolute;
    right: 0; left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    background: rgb(220, 68, 100);
    color: white;
    font-weight: bold;
}

.section-inscription {
    background-color: #E2FDFF;
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-left: -5px;
    margin-top: -5px;
}

.large-title {
    top: 5px;
    left: 5px;
    right: 5px;
}

.firstname {
    margin-top: 55px;
}

.email {
    margin-top: 110px;
}