.lst_contact{
    position: absolute;
    left: 5px; right: 5px; top: 40px;
    height: 90%;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    overflow: scroll;
}

.all_contact_flex{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.all_contact_flex img{
    flex: 1 1 auto;
    width: 100px;
}

.Ajouter_contact{
    position: absolute;
    width: 40%;
    height: 35px;
    right: 6%;
    top: 100px;

    background: #68D1FE;
    border-radius: 10px;
    z-index: 50;
}

.Ajouter_contact p{
    margin: 5px;
    text-align: center;
    color: white;
}

.menu-ajout{
    position: absolute;
    width: 90%;
    height: 300px;
    left: 0; right: 0;
    top: 28%;
    margin-left: auto;
    margin-right: auto;

    background: #00ABB6;
    border-radius: 18px;

    font-weight: 700;
    font-size: 22px;
    color: white;

    text-align: center;
}

.section-ajout{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    transition: 0.1s;
}

.ajout_move{
    transform: translate3d(0, -300%, 0);
}

.menu-ajout p {
    margin: 0;
    margin-top: 10px;
}

.code{
    background-color: white;
    width: 50px;
}

.code p {
    margin-top: 0;
}