@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(./Police/Poppins-Regular.ttf);
}
  
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(./Police/Poppins-Medium.ttf);
}
  
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(./Police/Poppins-Bold.ttf);
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    background-color: #E2FDFF;
    color: black;
}

.copyright {
    position: absolute;
    right: 10px; bottom: 0; top: 0;
}

.font-pp {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 15px; top: 15px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 50%;
}
.pp {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 5px; top: 5px;
    border-radius: 50%;
}

nav{
    position: fixed;
    bottom: 25px;
    width: 100vw;
    height: 75px;
}

.nav-rond-left {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 0; left: 25px;
    background: #68D1FE;
    box-sizing: border-box;
    border-radius: 50%;
}
.nav-rond-center {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 0;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #68D1FE;
    box-sizing: border-box;
    border-radius: 50%;
}
.nav-rond-right {
    position: absolute;
    width: 75px;
    height: 75px;
    bottom: 0; right: 25px;
    background: #68D1FE;
    box-sizing: border-box;
    border-radius: 50%;
}

.active {
    border: 5px solid #1C92FF;
}

